{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/bicepc.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Chin Ups</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/bicepc.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Bicep Curls</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/dumbellc.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Dumbell Curls </h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/peacher.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Peacher Curls</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/cablec.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Cable Curls</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'bicep/concentration.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Concentration Curls</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        </div>

        <br>

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/dumbelle.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Dumbell Extension</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/inclinee.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Inline Tricep Extension</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/closee.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Cable Tricep Extension</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/benche.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Close Grip Bench Press</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/narrow.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Narrow Grip Push Ups<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'tricep/tricepe.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Machine Tricep Extension</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>

        </div>

</div>
        </div>
        <br>
        <br>


{%endblock content%}