{% extends "base.html" %}
{% load static%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/pushups.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Push Ups</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/flatbench.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Flat Bench Press</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/decline.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Decline Bench Press</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/incline.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Incline Bench Press</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/fly.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Incline Bench Dumbell Fly</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/dips.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Chest Dips<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
            <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'chest/pullover.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Dumbell Bent Arm Pullover</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>

        <br>
        <br>
    </div><br>
        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/lats.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Lat Pull Down's<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/seated.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Seated Cable Row<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/reverse.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Close Grip Front Lat PullDowns</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/rows.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Bent Over Barbell Row<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/tbar.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">T Bar Row</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'back/bentover.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Dumbell Rows</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>

        </div>

</div>
{% endblock content %}