{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/barbelll.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Barbell Squats </h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/frontl.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Front Barbell Squats</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/legl.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Leg Press</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/sumo.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Sumo Squat</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/calfm.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Calf Machine</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/calfd.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Calf Dumbell Raise</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'legs/squats.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Squats</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>

        </div>
</div>
        <br>
        <br>


{%endblock content%}