{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/military.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Military Press<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/dumbell.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Dumbell Press<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/machine.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Seated Military Press Machine</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/lateral.jpg' %}" alt="Card image cap">
                <div class="card-block" >
                    <h4 class="card-title" style="text-align:center;">Dumbell Lateral Raise<br><br></h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
    </div><br>

        <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/front.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Cable Front Raise</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'shoulder/upright.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" style="text-align:center;">Upright Rows</h4>
                    <p class="card-text" style="text-align:center;">Set-1: 12 Repetetions<br>Set-2: 10 Repetetions<br>Set-3: 8 Repetetions</p>
                </div>
            </div>
        </div>

        </div>
</div>
        <br>
        <br>


{%endblock content%}