{% extends 'base.html'  %}

{% block content %}
<div class="container">
    <h2>Snacks Options : </h2><hr>
<table style="width:100%" style="border: 1px solid black;">
  <tr style="border: 1px solid black; background-color: #4CAF50; color: white; text-align: center;">
    <th style="border: 1px solid black;">Snacks</th>
    <th style="border: 1px solid black;">Ideas</th>
    <th style="border: 1px solid black;">Calories</th>
  </tr>
  <tr style="border: 1px solid black; padding: 15px; text-align: center; border-collapse: collapse;">
    <td style="border: 1px solid black; border-collapse: collapse;">
        {% for l in list %}
            <h3>{{l}}</h3>
        {% endfor %}
    </td>
    <td style="border: 1px solid black; border-collapse: collapse;">
        {% for l1 in list1 %}
          <h3>{{l1}}</h3>
        {% endfor %}
    </td>
    <td style="border: 1px solid black; padding: 15px; border-collapse: collapse;">
        {% for l2 in list2 %}
            <h3>{{l2}}</h3>
        {% endfor %}
    </td>
  </tr>
</table>
</div>
{% endblock %}