{% extends "base.html" %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="container">
    <h2 class="font-weight-light">Follow this diet for better results.</h2>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">9am-First Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'light' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">11am-Second Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'fruits' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">2pm-Third Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'heavy' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
</div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">5pm-Fourth Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'light' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D6.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">7pm-Fifth Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'fruits' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'diet/D2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">10pm-Sixth Meal</h5>
          <p class="card-text"></p>
          <a href="{% url 'heavy' %}" class="btn btn-primary">Food Options</a>
        </div>
      </div>
    </div>
</div>
</div>


{% endblock %}